apiVersion: external-secrets.io/v1beta1
kind: ClusterExternalSecret
metadata:
  name: gcore-registry-secret
spec:
  namespaces:
    - aptenbot
  refreshTime: "1h"
  externalSecretName: "gcore-registry-secret"
  externalSecretSpec:
    secretStoreRef:
      name: eso-ro
      kind: ClusterSecretStore
    refreshInterval: "1h"
    target:
      name: gcore-registry-secret
      creationPolicy: Owner
      template:
        type: kubernetes.io/dockerconfigjson
        data:
          .dockerconfigjson: "{{ .dockerconfigjson }}"
    data:
      - secretKey: dockerconfigjson
        remoteRef:
          key: secret/data/registry
          property: dockerconfigjson
